*{
  box-sizing: border-box;
}
body{ 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.container{
  margin-top: 0.5%;
  width: 390px;
  height: 510px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 5px 5px 12px #ffffff,
             -5px -5px 12px rgba(0,0,0,.16);
}
.output{
  margin: 0 auto;
  margin-top: 4%;
  width: 90%;
  height: 130px;
}
#output{
  width: 100%;
  height: 62%;
  outline: none;
  background: none;
  border: none;
  text-align: right;
  border-radius: 20px;
  font-size: 50px;
  background-color: #ecf0f3;
  box-shadow:inset 22px 22px 30px #cbced1,
             inset -22px -22px 30px #ffffff;
}
::placeholder{
  letter-spacing: 10px;
  text-align: end;
  text-transform: uppercase;
}
.btn{
  margin-top: -13%;
  margin-left: 5%;
}
.btn div{
  display: flex;
  list-style: none;
  text-align: center;
}
input[type="button"]{
  color: grey;
  font-size: 14px;
  margin: 20px;
  margin-left: 1px;
  padding: 2px 25px;
  border: none;
  border-radius: 50px;
  background-color: #ecf0f3;
  box-shadow: 0px 0px 0px 2px #c9cccf,
              0px 0px 0px 5px #ecf0f3,
              6px 6px 15px 2px #a7aaaf,
              -6px -6px 15px 2px #ffffff;
}
.row1{
  padding-left: 1px;
}
.row5{
  padding-left: 4px;
}
input[type="button"]:active{
  border-radius: 50px;
  background-color: #ecf0f3;
  box-shadow:inset 22px 22px 30px #cbced1,
             inset -22px -22px 30px #ffffff;
}
.row2{
  margin-top: -10px
}
.row3{
  margin-top: -10px
}
.row4{
  margin-top: -10px
}
.row5{
  margin-left: -5px;
  margin-top: -10px;
}
.row6{
  margin-top: -10px;
}
.row7{
  margin-top: -10px
}
.row8{
  margin-top: -62px;
}
input[name="root"]{
  padding: 2px 29px;
}
input[name="pi"]{
  padding: 2px 29px;
}
input[name="fact"]{
  padding: 2px 33px;
}
input[name="bo"]{
  padding: 2px 34px;
}
input[name="bc"]{
  padding: 2px 33px;
}
input[name="clr"]{
  padding: 2px 24px;
}
input[name="mult"]{
  padding: 2px 33px;
}
input[name="div"]{
  padding: 2px 31.5px;
}
input[name="one"]{
  padding: 2px 31px;
}
input[name="two"]{
  padding: 2px 30px;
}
input[name="three"]{
  padding: 2px 33px;
}
input[name="ad"]{
  padding: 2px 32px;
}
input[name="four"]{
  padding: 2px 31px;
}
input[name="five"]{
  padding: 2px 30px;
}
input[name="six"]{
  padding: 2px 33px;
}
input[name="min"]{
  padding: 2px 33px;
}
input[name="seven"]{
  padding: 2px 31px;
}
input[name="eight"]{
  padding: 2px 30px;
}
input[name="nine"]{
  padding: 2px 33px;
}
input[name="equal"]{
  border-radius: 21px;
  padding: 29px 31.6px;
}
input[name="dot"]{
  padding: 2px 33px;
}
input[name="zero"]{
  padding: 2px 31px;
}
input[name="apx"]{
  padding: 2px 23.5px;
}

